{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow border-0 p-5">

            <h2 class="mb-4 text-center">
                Add Transaction
            </h2>

            <form method="POST">

                <div class="mb-3">

                    <label class="form-label">
                        Title
                    </label>

                    <input type="text"
                        name="title"
                        class="form-control"
                        required>

                </div>


                <div class="mb-3">

                    <label class="form-label">
                        Amount
                    </label>

                    <input type="number"
                        name="amount"
                        class="form-control"
                        required>

                </div>


                <div class="mb-3">

                    <label class="form-label">
                        Category
                    </label>

                    <input type="text"
                        name="category"
                        class="form-control"
                        required>

                </div>


                <div class="mb-3">

                    <label class="form-label">
                        Type
                    </label>

                    <select name="type"
                        class="form-control">

                        <option value="Income">
                            Income
                        </option>

                        <option value="Expense">
                            Expense
                        </option>

                    </select>

                </div>


                <div class="mb-3">

                    <label class="form-label">
                        Date
                    </label>

                    <input type="date"
                        name="date"
                        class="form-control"
                        required>

                </div>


                <button class="btn btn-primary w-100">

                    Add Transaction

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}